body {
    background-color: #4682B4;
    font-family: sans-serif;
    color: white;
}
h3 {
    padding-top: 15px;
}

h5{
    padding-top: 15px;
    font-size: 18px;
}
.logo {
    width: 30px;
}

.navbar{
    background-color:#FFA500;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
